
$color:(
    primary: #00000,
    secondary: #00000
);

@function color($colorName){
    @return map-get($map: $color, $key: $colorName )
};

body{
    background-color: #ffffff;
    color: #000000;
    box-sizing: border-box;
}
a, a:hover, a:visited, a:focus{
    text-decoration: none;
    color: inherit;
}
a:hover{
    cursor: pointer;
}
a{
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;  
}
.img_wrapper{
    background-size: cover !important;
    background-position: 50% 50% !important;
    overflow: hidden;
    background-repeat: no-repeat !important;
}
